/* :root {
    --colorDarkMain: #22457b;
    --colorMain: #349eff;
    --colorBlack: #212121;
    --colorGrey: #5c5f63;
    --colorGreyLight: #d9d9d9;
    --colorWhite: #ffffff;
    --titleBig: 60px;
    --title: 40px;
    --titleSmall: 24px;
    --borderRadiusBig: 50px;
    --borderRadius: 25px;
    --borderRadiusSmall: 10px;
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

/* Form container */

.forms-container {
    display: flex;
    gap: 15px;
    width: 500px;
    max-width: 100%;
    border-radius: var(--borderRadius);
    scroll-snap-type: x mandatory;
    overflow: hidden;
    scroll-behavior: smooth;
}

.forms-container > form {
    min-width: 100%;
}

.forms-container::-webkit-scrollbar {
    width: 0;
}
